.card
    width 240px
    display flex
    flex-direction column
    justify-content flex-start
    align-items flex-start
    border-radius 4px
    box-shadow var(--shadow-0)
    margin 20px
    outline none
    border 1px solid var(--border)
    transition box-shadow var(--transition-medium)

    &:hover,
    &:focus
        box-shadow var(--shadow-1)