.profile-badge
    appearance none
    width 40px
    height 40px
    border-radius 20px
    margin 0
    padding 0
    border 0

    & > .profile-icon
        width inherit
        height inherit
        border-radius inherit
        margin 0
        padding 0
        object-fit cover
        object-position center
