#loader
    position fixed
    z-index 5
    top 0
    left 0
    display flex
    flex-direction row
    justify-content center
    align-items center
    width 100%
    height 100vh
    background-color var(--background)

    & > .loader-1,
    & > .loader-2,
    & > .loader-3
        display block
        width 12px
        height 12px
        margin 0 8px
        border-radius 6px

    & > .loader-1
        background-color #7F7FD5
        animation loader-1-animate 4s ease-out 0s infinite

    & > .loader-2
        background-color #86A8E7
        animation loader-2-animate 4s ease-out 0s infinite

    & > .loader-3
        background-color #91EAE4
        animation loader-3-animate 4s ease-out 0s infinite

#loader-appear
    position fixed
    z-index 6
    width 196px
    height 196px
    background transparent
    opacity 0
    border 3px solid #86a8e7
    border-radius 98px
    animation loader-appear-in 1.2s ease-out 0s 1

@keyframes loader-appear-in
    0%
        transform scale(0)
        opacity 1

    60%
        transform scale(.9)
        opacity .7

@keyframes loader-1-animate
    0%
        transform translateY(0)

    65%
        transform translateY(0)

    75%
        transform translateY(-8px)

    85%
        transform translateY(0)

@keyframes loader-2-animate
    0%
        transform translateY(0)

    70%
        transform translateY(0)

    80%
        transform translateY(-8px)

    90%
        transform translateY(0)

@keyframes loader-3-animate
    0%
        transform translateY(0)

    75%
        transform translateY(0)

    85%
        transform translateY(-8px)

    95%
        transform translateY(0)