#share
    position absolute
    z-index 2
    left calc(50% - (12px + 8px))
    bottom calc(15vh + (25px - 8px))
    padding 8px
    transform scale(1.25)
    outline none
    cursor pointer

    &:hover,
    &:focus
        background-color var(--overlay)
        border-radius 20px