.side-tab
    appearance none
    width 100%
    display flex
    flex-direction row
    justify-content flex-start
    border 0
    transition var(--transition-fast)
    outline none
    cursor pointer

    &.mdc-button::before, &.mdc-button::after
        transition var(--transition-fast)
        background rgba(0,0,0,.65)

    &.mdc-button
        justify-content flex-start
        height unset
        padding 12px 24px
        border-radius 0
        text-transform capitalize
        letter-spacing normal

        @media screen and (max-width 567.9px)
            &
                padding 16px 24px

        &.-active   
            box-shadow var(--shadow-0)
            background var(--background)
            border-top-right-radius 2px
            border-bottom-right-radius 2px

            &:hover,
            &:focus                    
                &.mdc-button::before,
                &.mdc-button::after
                    background var(--background)

        & > .material-icons.-icon
            width 21px
            height 21px
            font-size 21px
            color var(--fade)

    & > .mdc-button__label
        font-size 18px
        color var(--text)
        margin 0