.card-header
    display flex
    flex-direction row
    justify-content space-between
    align-items space-between
    border-bottom 1px solid var(--border)
    width 100%
    padding 16px 20px

    & > .title
        font-size 21px
        color var(--text)
        margin 0