#login-layout
    display flex
    flex-direction column
    justify-content center
    align-items center
    width 100%
    height 100vh

#ycc-icon
    position absolute
    top calc(5vh + 50px)
    width 36px
    height 36px
    object-fit contain
    object-position center